.portfolio__page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  .portfolio__page-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;

    .title__line {
      width: 83px;
      height: 0px;
      border: 1px solid var(--secondary-color);
    }

    p {
      font-family: "Mplus 1p";
      font-style: normal;
      font-weight: 250;
      font-size: 40px;
      line-height: 150%;

      color: var(--secondary-color);
    }
  }

  .portfolio__page-item {
    display: flex;
    padding: 0px;
    gap: 30px;
    width: 1440px;
    height: 680px;

    .left__block {
      position: relative;
      width: 400px;
      height: 680px;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
        opacity: 0.8;

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }

    .right__block {
      display: flex;
      width: 1010px;
      height: 680px;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;

      overflow: hidden;

      .right__block-top,
      .right__block-bottom {
        display: flex;

        gap: 30px;
        width: 1010px;
        height: 325px;

        .right__block-item-1,
        .right__block-item-2 {
          position: relative;
          overflow: hidden;
          border-radius: 5px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
            opacity: 0.8;

            &:hover {
              opacity: 1;
              transform: scale(1.1);
            }
          }
        }

        .right__block-item-1 {
          width: 400px;
        }

        .right__block-item-2 {
          width: 580px;
        }
      }
    }

    .left__block,
    .right__block-item-1,
    .right__block-item-2 {
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70px;
        height: 70px;
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.9998 6.00098C14.0586 6.00098 5.99976 14.0598 5.99976 24.001C5.99976 33.9421 14.0586 42.001 23.9998 42.001C33.9409 42.001 41.9998 33.9421 41.9998 24.001C41.9998 14.0598 33.9409 6.00098 23.9998 6.00098ZM-0.000244141 24.001C-0.000244141 10.7461 10.7449 0.000976562 23.9998 0.000976562C37.2546 0.000976562 47.9998 10.7461 47.9998 24.001C47.9998 29.5471 46.1185 34.6539 42.9593 38.7179L59.1211 54.8796C60.2926 56.0512 60.2926 57.9507 59.1211 59.1223C57.9495 60.2939 56.05 60.2939 54.8784 59.1223L38.7167 42.9605C34.6526 46.1197 29.5459 48.001 23.9998 48.001C10.7449 48.001 -0.000244141 37.2558 -0.000244141 24.001ZM23.9998 15.001C25.6566 15.001 26.9998 16.3441 26.9998 18.001V21.001H29.9998C31.6566 21.001 32.9998 22.3441 32.9998 24.001C32.9998 25.6578 31.6566 27.001 29.9998 27.001H26.9998V30.001C26.9998 31.6578 25.6566 33.001 23.9998 33.001C22.3429 33.001 20.9998 31.6578 20.9998 30.001V27.001H17.9998C16.3429 27.001 14.9998 25.6578 14.9998 24.001C14.9998 22.3441 16.3429 21.001 17.9998 21.001H20.9998V18.001C20.9998 16.3441 22.3429 15.001 23.9998 15.001Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: cover;
        opacity: 0;
        cursor: pointer;
      }

      &:hover {
        .icon {
          opacity: 0.6;
        }
        img {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }
}

.reverse__element {
  flex-direction: row-reverse;
}
