@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mplus 1p";
  src: url(../fonts/MPLUS1p-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mplus 1p";
  src: url(../fonts/MPLUS1p-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mplus 1p";
  src: url(../fonts/MPLUS1p-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s ease;
}

:root {
  --main-text-color: #ffffff;
  --secondary-text-color: #112630;
  --main-bg-color: #0b1b23;
  --secondary-color: #2cb4fe;
  --primary-color: #9747ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.1s ease;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.container__transparent {
  max-width: 1920px;
  margin: 0 auto;
  background-color: transparent;
  color: var(--main-text-color);
}

.container__promo {
  background-color: #355e75;
}

.content {
  max-width: calc(1440px + 20px * 2);
  margin: 0 auto;
  width: 100%;
  padding: 50px 20px;
}

@mixin base_button(
  $pos,
  $color: var(--main-text-color),
  $main-bg-color: var(--main-bg-color),
  $bg-color: var(--secondary-color),
  $secondary-text-color: var(--main-text-color)
) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mplus 1p";
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 3px 4px -2px rgba(86, 146, 179, 0.31);
  cursor: pointer;

  color: $color;
  text-transform: uppercase;

  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-bg-color;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -50px;
    width: 0px;
    height: 0;
    border-radius: 50%;
    background-color: $bg-color;
    transition: all 0.5s;
    z-index: -1;
  }
  &:hover {
    color: $secondary-text-color;
    &:before {
      height: $pos;
      width: $pos;
    }
  }
}

// MAIN-PAGE------------------------------------------------------------
// HEADER-------------------------------------------------------------
.header__absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: none;
  opacity: 100%;
}

.top__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 60px;

  .left {
    display: flex;
    max-width: 630px;
    height: 60px;
    gap: 20px;

    .logo {
      display: flex;
      align-items: center;
      padding: 0px;
      margin: 0px;
      gap: 20px;
      cursor: pointer;

      max-width: 289px;
      height: 60px;
      .logo-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 10px;

        width: 60px;
        height: 60px;

        background: var(--secondary-color);
        border-radius: 50%;
        .logo-img__text {
          font-weight: 900;
          font-size: 28px;
          text-transform: uppercase;
          align-items: center;
          justify-content: center;
        }
      }

      .logo-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        max-width: 209px;
        height: 52px;

        .logo-text__title {
          max-width: 209px;
          height: 32px;

          font-style: normal;

          font-weight: 800;
          font-size: 30px;
          white-space: nowrap;
          line-height: 100%;
          text-transform: uppercase;
        }

        .logo-text__subtitle {
          max-width: 209px;
          height: 20px;

          font-weight: 400;
          font-size: 17px;
          line-height: 100%;
        }
      }
    }

    .line {
      width: 0px;
      height: 60px;

      opacity: 0.5;
      border: 1px solid var(--main-text-color);
    }

    .address {
      max-width: 301px;
      height: 44px;
      p {
        font-family: "Mplus 1p";
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 20px;

    max-width: 642px;
    height: 40px;

    .phone {
      position: relative;
      display: flex;
      width: 231px;
      height: 40px;
      p {
        display: flex;

        font-family: "Mplus 1p";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        align-items: center;
      }

      .phone__arrow {
        width: 24px;
        height: 24px;
        cursor: pointer;

        position: absolute;
        top: 8px;
        right: 0px;
      }
    }

    .button-wrapper {
      width: 151px;
      height: 38px;
      border-radius: 5px;
      .button {
        @include base_button(250px);
      }
    }

    .socials {
      display: flex;
      gap: 20px;

      .socials__link {
        width: 40px;
        height: 40px;
        display: flex;
        position: relative;

        .socials__icon {
          top: 2px;
          position: absolute;
        }
      }
    }
  }
}

.nav-header {
  display: flex;

  max-width: 1440px;
  height: 64px;
  margin-top: 37px;

  background: #122d3b;
  border-radius: 5px;

  .nav-header__list {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    padding: 0px 20px;

    .nav-header__list-item {
      font-family: "Mplus 1p";
      font-weight: 500;
      font-size: 15px;
      padding: 20px;
      text-transform: uppercase;
    }
  }
}

// SLIDE-------------------------------------------------------------
.bg-img__slide {
  position: relative;
  max-width: 1920px;
  max-height: 1000px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.text-main__slide {
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translate(-49%);
  max-width: calc(1440px + 20px * 2);
  width: 100%;
  height: 795px;

  .text-main__slide-title {
    display: flex;
    margin-top: 100px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;

    color: var(--main-text-color);
  }

  .text-main__slide-subtitle {
    margin-top: 50px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;

    color: var(--main-text-color);
  }

  .button__slide {
    margin-top: 100px;
    width: 232px;
    height: 70px;
    border-radius: 5px;
    .button {
      @include base_button(
        300px,
        var(--main-text-color),
        var(--secondary-color),
        var(--main-text-color),
        var(--secondary-color)
      );
      p {
        font-family: "Mplus 1p";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}

// TITLE-------------------------------------------------------------
.title {
  .title__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin-bottom: 50px;

    max-width: 1440px;
    height: 18px;

    .title__line {
      width: 50px;
      height: 0px;

      border: 1px solid var(--secondary-color);
    }

    .title__subtitle-text {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;

      color: var(--secondary-color);
    }
  }
  .title__text {
    font-family: "Raleway";
    font-weight: 200;
    font-size: 60px;
    line-height: 70px;
    max-width: 984px;
  }
}

// SERVICES-------------------------------------------------------------
.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;

  max-width: 1440px;
  height: 100%;
  margin-bottom: 50px;

  .services__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 50px;

    max-width: 1440px;
    width: 100%;
    height: 300px;

    .services__block-item {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

      box-shadow: 0px 15px 34.1px -22px rgba(0, 0, 0, 0.6);
      border-radius: 5px;

      .services__block-item-img {
        display: flex;
        overflow: hidden;
        width: 322px;
        height: 300px;
        border-radius: 5px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .services__block-item-text {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px;
        gap: 30px;

        width: 322px;
        .services__block-item-text-number {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 50%;
        }
        .services__block-item-text-title {
          font-family: "Mplus 1p";
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 37px;
        }
      }
    }
  }

  .services__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 364px;
    height: 44px;

    .services__button-left {
      display: flex;
      width: 168px;
      height: 44px;
      border-radius: 5px;
      .button {
        @include base_button(250px, var(--secondary-color), var(--secondary-text-color));
        p {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          text-transform: uppercase;
          margin-right: 20px;
        }
      }
    }
    :hover > svg {
      fill: var(--main-text-color);
    }

    .services__button-right {
      display: flex;

      width: 176px;
      height: 44px;
      border-radius: 5px;
      .button {
        @include base_button(
          250px,
          var(--main-text-color),
          var(--main-bg-color),
          var(--main-text-color),
          var(--main-bg-color)
        );
        p {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 700;
          font-size: 15px;
          text-transform: uppercase;
        }
      }
    }
  }
}

// ABOUT-------------------------------------------------------------
.about {
  position: relative;
  height: 860px;
  background: var(--secondary-text-color);

  .about__bg {
    position: absolute;
    left: 50%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .about__block {
    width: 100%;
    height: 100%;

    .about__block-title {
      height: 70px;
      margin-top: 50px;

      font-family: "Raleway";
      font-style: normal;
      font-weight: 250;
      font-size: 60px;
      line-height: 70px;
    }

    .about__block-text {
      margin-top: 50px;
      max-width: 695px;

      p {
        font-family: "Mplus 1p";
        font-weight: 400;
        line-height: 30px;
        font-size: 20px;
        margin-bottom: 30px;
      }
    }

    .about__block-button {
      display: flex;
      margin-top: 50px;
      width: 169px;
      height: 70px;
      border-radius: 5px;
      .button {
        @include base_button(250px, $color: var(--main-text-color), $main-bg-color: var(--secondary-text-color));
      }
      p {
        padding: 20px 30px;
        font-family: "Mplus 1p";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-transform: none;
      }
    }
  }
}

// PRICE-------------------------------------------------------------
.price__block {
  .price__block-title {
    height: 70px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 70px;

    margin: 50px 0;
  }

  .price__block-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    max-width: 1440px;
    max-height: 648px;

    .price__block-item {
      display: flex;
      padding: 20px 30px;
      gap: 10px;
      max-width: 1440px;
      width: 100%;
      height: 84px;
      background: var(--secondary-text-color);
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      .price__block-item-text {
        display: flex;
        height: 44px;
        width: 73%;

        color: var(--secondary-color);
        p {
          display: flex;
          flex-direction: row;
          align-items: center;
          font-family: "Mplus 1p";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
        }
      }
      .price__block-item-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 27%;
        justify-content: space-between;

        .item-price {
          width: 179px;
          height: 30px;

          font-family: "Mplus 1p";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
        }

        .item-button {
          display: flex;
          width: 116px;
          height: 44px;
          border-radius: 5px;
          .button {
            @include base_button(
              250px,
              $color: var(--main-text-color),
              $main-bg-color: var(--main-bg-color),
              $bg-color: var(--main-text-color),
              $secondary-text-color: var(--main-bg-color)
            );
          }
          p {
            font-family: "Raleway";
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
          }
        }
        .item-icon {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 10px 10px 10px 20px;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  [id^="id-item_"]:hover {
    background: var(--secondary-color);
    .price__block-item-text {
      color: var(--main-text-color);
    }
  }

  .price__block-button {
    display: flex;
    margin-top: 50px;
    max-width: 1440px;
    height: 62px;
    border-radius: 5px;
    .button {
      @include base_button(
        250px,
        $color: var(--main-text-color),
        $main-bg-color: var(--secondary-color),
        $bg-color: var(--main-bg-color),
        $secondary-text-color: var(--secondary-color)
      );
    }

    p {
      display: flex;
      width: 139px;
      height: 22px;
      text-align: center;

      font-family: "Mplus 1p";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      text-transform: uppercase;
    }
  }
}

// PORTFOLIO-------------------------------------------------------------
.portfolio {
  display: flex;
  padding: 0px;
  gap: 30px;
  .portfolio__block {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .portfolio__block-item {
      display: flex;
      overflow: hidden;
      width: 460px;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
      }
    }
    :hover img {
      scale: 1.1;
    }
  }
}

.portfolio__button {
  display: flex;
  width: 188px;
  height: 44px;
  margin-top: 50px;
  border-radius: 5px;
  .button {
    @include base_button(250px, var(--secondary-color), var(--secondary-text-color));
    p {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      text-transform: uppercase;
      margin-right: 20px;
    }
  }
}
:hover > svg {
  fill: var(--main-text-color);
}

//PROMO-------------------------------------------------------------
.promo {
  display: flex;
  margin-top: 50px;
  gap: 50px;

  max-width: 1440px;
  height: 590px;
  .promo__block {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    .promo__item {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 30px;
      width: 322px;
      height: 590px;

      .promo__item-img {
        overflow: hidden;

        img {
          display: flex;

          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
        }
      }

      .button__promo {
        opacity: 0;
        position: absolute;
        bottom: 130px;
        left: 50%;
        translate: -50%;
        margin-top: 100px;
        width: 194px;
        height: 44px;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        .button {
          @include base_button(
            300px,
            var(--main-text-color),
            var(--secondary-color),
            var(--main-text-color),
            var(--secondary-color)
          );
          p {
            font-family: "Mplus 1p";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
          }
        }
      }

      p {
        font-family: "Mplus 1p";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
      }
    }
    :hover img {
      scale: 1.1;
      filter: brightness(0.5);
    }
    :hover .button__promo {
      opacity: 1;
    }
  }
}

// FOOTER-------------------------------------------------------------
.footer-line__top {
  border-top: 1px solid #122d3b;
}
