@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus 1p";
  src: url(../fonts/MPLUS1p-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus 1p";
  src: url(../fonts/MPLUS1p-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mplus 1p";
  src: url(../fonts/MPLUS1p-ExtraBold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.1s ease;
}

:root {
  --main-text-color: #ffffff;
  --secondary-text-color: #112630;
  --main-bg-color: #0b1b23;
  --secondary-color: #2cb4fe;
  --primary-color: #9747ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.1s ease;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.container__transparent {
  max-width: 1920px;
  margin: 0 auto;
  background-color: transparent;
  color: var(--main-text-color);
}

.content {
  max-width: 1480px;
  margin: 0 auto;
  width: 100%;
  padding: 50px 20px;
}

.header__absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: none;
  opacity: 100%;
}

.top__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 60px;
}
.top__header .left {
  display: flex;
  max-width: 630px;
  height: 60px;
  gap: 20px;
}
.top__header .left .logo {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  gap: 20px;
  cursor: pointer;
  max-width: 289px;
  height: 60px;
}
.top__header .left .logo .logo-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 60px;
  height: 60px;
  background: var(--secondary-color);
  border-radius: 50%;
}
.top__header .left .logo .logo-img .logo-img__text {
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
.top__header .left .logo .logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  max-width: 209px;
  height: 52px;
}
.top__header .left .logo .logo-text .logo-text__title {
  max-width: 209px;
  height: 32px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  white-space: nowrap;
  line-height: 100%;
  text-transform: uppercase;
}
.top__header .left .logo .logo-text .logo-text__subtitle {
  max-width: 209px;
  height: 20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
}
.top__header .left .line {
  width: 0px;
  height: 60px;
  opacity: 0.5;
  border: 1px solid var(--main-text-color);
}
.top__header .left .address {
  max-width: 301px;
  height: 44px;
}
.top__header .left .address p {
  font-family: "Mplus 1p";
  font-weight: 400;
  font-size: 15px;
}
.top__header .right {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 20px;
  max-width: 642px;
  height: 40px;
}
.top__header .right .phone {
  position: relative;
  display: flex;
  width: 231px;
  height: 40px;
}
.top__header .right .phone p {
  display: flex;
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
}
.top__header .right .phone .phone__arrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0px;
}
.top__header .right .button-wrapper {
  width: 151px;
  height: 38px;
  border-radius: 5px;
}
.top__header .right .button-wrapper .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mplus 1p";
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 3px 4px -2px rgba(86, 146, 179, 0.31);
  cursor: pointer;
  color: var(--main-text-color);
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.top__header .right .button-wrapper .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  z-index: -2;
}
.top__header .right .button-wrapper .button:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 0px;
  height: 0;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: all 0.5s;
  z-index: -1;
}
.top__header .right .button-wrapper .button:hover {
  color: var(--main-text-color);
}
.top__header .right .button-wrapper .button:hover:before {
  height: 250px;
  width: 250px;
}
.top__header .right .socials {
  display: flex;
  gap: 20px;
}
.top__header .right .socials .socials__link {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
}
.top__header .right .socials .socials__link .socials__icon {
  top: 2px;
  position: absolute;
}

.nav-header {
  display: flex;
  max-width: 1440px;
  height: 64px;
  margin-top: 37px;
  background: #122d3b;
  border-radius: 5px;
}
.nav-header .nav-header__list {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  padding: 0px 20px;
}
.nav-header .nav-header__list .nav-header__list-item {
  font-family: "Mplus 1p";
  font-weight: 500;
  font-size: 15px;
  padding: 20px;
  text-transform: uppercase;
}

.bg-img__slide {
  position: relative;
  max-width: 1920px;
  max-height: 1000px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.text-main__slide {
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translate(-49%);
  max-width: 1480px;
  width: 100%;
  height: 795px;
}
.text-main__slide .text-main__slide-title {
  display: flex;
  margin-top: 100px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: var(--main-text-color);
}
.text-main__slide .text-main__slide-subtitle {
  margin-top: 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: var(--main-text-color);
}
.text-main__slide .button__slide {
  margin-top: 100px;
  width: 232px;
  height: 70px;
  border-radius: 5px;
}
.text-main__slide .button__slide .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mplus 1p";
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 3px 4px -2px rgba(86, 146, 179, 0.31);
  cursor: pointer;
  color: var(--main-text-color);
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.text-main__slide .button__slide .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: -2;
}
.text-main__slide .button__slide .button:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 0px;
  height: 0;
  border-radius: 50%;
  background-color: var(--main-text-color);
  transition: all 0.5s;
  z-index: -1;
}
.text-main__slide .button__slide .button:hover {
  color: var(--secondary-color);
}
.text-main__slide .button__slide .button:hover:before {
  height: 300px;
  width: 300px;
}
.text-main__slide .button__slide .button p {
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.title .title__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin-bottom: 50px;
  max-width: 1440px;
  height: 18px;
}
.title .title__subtitle .title__line {
  width: 50px;
  height: 0px;
  border: 1px solid var(--secondary-color);
}
.title .title__subtitle .title__subtitle-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.title .title__text {
  font-family: "Raleway";
  font-weight: 200;
  font-size: 60px;
  line-height: 70px;
  max-width: 984px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  max-width: 1440px;
  height: 100%;
  margin-bottom: 50px;
}
.services .services__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  gap: 50px;
  max-width: 1440px;
  width: 100%;
  height: 300px;
}
.services .services__block .services__block-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 15px 34.1px -22px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.services .services__block .services__block-item .services__block-item-img {
  display: flex;
  overflow: hidden;
  width: 322px;
  height: 300px;
  border-radius: 5px;
}
.services .services__block .services__block-item .services__block-item-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .services__block .services__block-item .services__block-item-text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  gap: 30px;
  width: 322px;
}
.services .services__block .services__block-item .services__block-item-text .services__block-item-text-number {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50%;
}
.services .services__block .services__block-item .services__block-item-text .services__block-item-text-title {
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
}
.services .services__nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 364px;
  height: 44px;
}
.services .services__nav .services__button-left {
  position: relative;
  display: flex;
  width: 168px;
  height: 44px;
  border-radius: 5px;
}
.services .services__nav .services__button-left .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mplus 1p";
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 3px 4px -2px rgba(86, 146, 179, 0.31);
  cursor: pointer;
  color: var(--secondary-color);
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.services .services__nav .services__button-left .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-text-color);
  z-index: -2;
}
.services .services__nav .services__button-left .button:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 0px;
  height: 0;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: all 0.5s;
  z-index: -1;
}
.services .services__nav .services__button-left .button:hover {
  color: var(--main-text-color);
}
.services .services__nav .services__button-left .button:hover:before {
  height: 250px;
  width: 250px;
}
.services .services__nav .services__button-left .button p {
  position: absolute;
  left: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}
.services .services__nav .services__button-left .services__button-left-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 23px;
  transform: translate(0, -50%);
  z-index: 1;
}
.services .services__nav .services__button-left .services__button-left-icon svg {
  fill: var(--secondary-color);
}
.services .services__nav :hover .services__button-left-icon svg {
  fill: var(--main-text-color);
}
.services .services__nav .services__button-right {
  display: flex;
  width: 176px;
  height: 44px;
  border-radius: 5px;
}
.services .services__nav .services__button-right .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mplus 1p";
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 3px 4px -2px rgba(86, 146, 179, 0.31);
  cursor: pointer;
  color: var(--main-text-color);
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.services .services__nav .services__button-right .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  z-index: -2;
}
.services .services__nav .services__button-right .button:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 0px;
  height: 0;
  border-radius: 50%;
  background-color: var(--main-text-color);
  transition: all 0.5s;
  z-index: -1;
}
.services .services__nav .services__button-right .button:hover {
  color: var(--main-bg-color);
}
.services .services__nav .services__button-right .button:hover:before {
  height: 250px;
  width: 250px;
}
.services .services__nav .services__button-right .button p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}

.about {
  position: relative;
  height: 860px;
  background: var(--secondary-text-color);
}
.about .about__bg {
  position: absolute;
  left: 50%;
  height: 100%;
}
.about .about__bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about__block {
  width: 100%;
  height: 100%;
}
.about .about__block .about__block-title {
  height: 70px;
  margin-top: 50px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 250;
  font-size: 60px;
  line-height: 70px;
}
.about .about__block .about__block-text {
  margin-top: 50px;
  max-width: 695px;
}
.about .about__block .about__block-text p {
  font-family: "Mplus 1p";
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}
.about .about__block .about__block-button {
  display: flex;
  margin-top: 50px;
  width: 169px;
  height: 70px;
  border-radius: 5px;
}
.about .about__block .about__block-button .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mplus 1p";
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 3px 4px -2px rgba(86, 146, 179, 0.31);
  cursor: pointer;
  color: var(--main-text-color);
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.about .about__block .about__block-button .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-text-color);
  z-index: -2;
}
.about .about__block .about__block-button .button:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 0px;
  height: 0;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: all 0.5s;
  z-index: -1;
}
.about .about__block .about__block-button .button:hover {
  color: var(--main-text-color);
}
.about .about__block .about__block-button .button:hover:before {
  height: 250px;
  width: 250px;
}
.about .about__block .about__block-button p {
  padding: 20px 30px;
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-transform: none;
}

.price__block .price__block-title {
  height: 70px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  font-size: 60px;
  line-height: 70px;
  margin: 50px 0;
}
.price__block .price__block-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  max-width: 1440px;
  max-height: 648px;
}
.price__block .price__block-list .price__block-item {
  display: flex;
  padding: 20px 30px;
  gap: 10px;
  max-width: 1440px;
  width: 100%;
  height: 84px;
  background: var(--secondary-text-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.price__block .price__block-list .price__block-item .price__block-item-text {
  display: flex;
  height: 44px;
  width: 73%;
  color: var(--secondary-color);
}
.price__block .price__block-list .price__block-item .price__block-item-text p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 27%;
  justify-content: space-between;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-price {
  width: 179px;
  height: 30px;
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-button {
  display: flex;
  width: 116px;
  height: 44px;
  border-radius: 5px;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-button .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mplus 1p";
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 3px 4px -2px rgba(86, 146, 179, 0.31);
  cursor: pointer;
  color: var(--main-text-color);
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-button .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  z-index: -2;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-button .button:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 0px;
  height: 0;
  border-radius: 50%;
  background-color: var(--main-text-color);
  transition: all 0.5s;
  z-index: -1;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-button .button:hover {
  color: var(--main-bg-color);
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-button .button:hover:before {
  height: 250px;
  width: 250px;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-button p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
}
.price__block .price__block-list .price__block-item .price__block-item-wrapper .item-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 10px 20px;
  width: 24px;
  height: 24px;
}
.price__block [id^=id-item_]:hover {
  background: var(--secondary-color);
}
.price__block [id^=id-item_]:hover .price__block-item-text {
  color: var(--main-text-color);
}
.price__block .price__block-button {
  display: flex;
  margin-top: 50px;
  max-width: 1440px;
  height: 62px;
  border-radius: 5px;
}
.price__block .price__block-button .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mplus 1p";
  font-weight: 800;
  font-size: 12px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0px 3px 4px -2px rgba(86, 146, 179, 0.31);
  cursor: pointer;
  color: var(--main-text-color);
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.price__block .price__block-button .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: -2;
}
.price__block .price__block-button .button:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -50px;
  width: 0px;
  height: 0;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  transition: all 0.5s;
  z-index: -1;
}
.price__block .price__block-button .button:hover {
  color: var(--secondary-color);
}
.price__block .price__block-button .button:hover:before {
  height: 250px;
  width: 250px;
}
.price__block .price__block-button p {
  display: flex;
  width: 139px;
  height: 22px;
  text-align: center;
  font-family: "Mplus 1p";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
}

.footer-line__top {
  border-top: 1px solid #122d3b;
}/*# sourceMappingURL=style.css.map */